html{
  font-size: 70.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height:100vh;
  margin: 0;
  
}
#root{
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;

}

.header{
  grid-area: header;
  background-color: #011627;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  
}

.brand a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  
}

.header-links a{
  color: #ffffff;
  text-decoration: none;

}
.header-links a:hover{
  color: #88310f;
}

.footer{
  grid-area: footer;
  color: #ffffff;
  background-color: #011627;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Screen */

.serviceproviders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


}
.serviceproviders li{
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  border-bottom: 0.1rem #0b173f solid;
}
.serviceprovider-image{
  max-width: 34rem;
  max-height: 34rem;
  padding-bottom: 20px;
  
}

.serviceprovider {
  display:flex;
  flex-direction: column;
  justify-content: space-between ;
  height: 100%;
}

.name{
  font-size: 2rem;
  color: #88310f;

}
.category{
  font-size:1.7rem;
  columns: #000000;;
}

.rate{
  font-size:2.5rem;
  font-weight:bold;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:#88310f;
}
.rating{
  margin-bottom: 1rem;
  font-weight: bold;
  font-size:  2rem;

}

/* button */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background:none;
  color:#ffffff;
  border: none;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-image:  linear-gradient(
 
 #00000079 , #0b173f
  );
  height: 100%;
  font-size: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-style: none;
  color:#ffffff;
}

.sidebar.open{

  transform:translateX(0);
}

.button-close{
  border-radius: 50%;
  border: 0.1rem #000000;
  width: 3 rem;
  height: 3 rem;
  padding: 0.5rem;
  font-size:2rem;
  padding-top: 0;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;

}
.sidebar li{
  list-style-type: none;
  margin: 3rem;
  border-bottom: 0.1rem #000000 solid;
}
.sidebar a{
  color: #e0e0e0;
 
}
.sidebar a:hover{
  color:#FDFFFC;
}
.hamburger{
  transform: rotate(90deg);
  
}
.sidebar h3{
  padding-top: 30px;
  margin-left: 10px;
}

/* Products details */

.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
  
}

.details-image{
  flex: 2 1 60rem;
  
}
.details-image img{
  max-width: 100rem;
  width: 90%;
  max-height: 100rem;
  border-radius: 2%;
  
}
.details-info{
  flex: 1 1 30rem;
}

.details-action{
  flex: 1 1 15rem;
}
.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}
.details-info li, .details-action li{
 margin-bottom: 1rem;
}
.backtoresult{
  padding: 1rem;
}
.backtoresultbtn{
  font-size: 20px;
  border: 1px solid #404040;
  background-color: #f8f8f8;
  color: #392ecf;
}
.backtoresult h3{
  color: red;
}

.details-action{
  border: 0.1rem #808080 solid;
  border-radius: 1rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #f0c040;
  padding:1rem;
  border:0.1rem #808080;
  cursor: pointer;
  border-radius: 0.5rem;
}

.details-action button:hover{
background-color: red;
}

.serviceprovider-image{
  height:70%;
  border-radius: 2%;
}

/* CART */

.cart{
  display: flex;
 flex-wrap: wrap;
 margin: 1rem;
 align-items: flex-start;
 
 
}

.cart-list{
  flex: 3 1 60rem;
  
}

.cart-action{
  flex: 1 1 10rem;
  border: 0.1rem #808080;
  border-radius: 0.5rem;;
  padding: 1rem;
  margin-right: 0.5rem;
  margin-top: 6rem;
  background-image:
    linear-gradient(
      to top right, 
    #f0f0f0, #808080
    );


}

.cart-list-container{

  list-style-type: none;
  padding: 1rem;

}
.cart-list-container li{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
  border-bottom: .1rem #808080;;
}
.cart-list-container li img{
  max-height: 12rem;
  max-width: 12rem;
  flex: 1 1;
  border-radius: 1.2rem;
 
  

}
.cart-list-container li:first-child{
  display: flex;
  justify-content: space-between;
 align-items: flex-end;

 
}
.cart-name{
  flex: 8 1;
  font-weight: bold;
  margin-left: 1rem;
}

.cart-price{
  flex: 1 1;
  font-weight: bolder;
  
}
.price{
  margin-right: 11rem;
  font-size: 20px;

}
.button-primary{
  background-color: #f0c040;
  padding:1rem;
  border: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: bolder;
}
.button-primary:hover{
color:blue;


}

.hamburger:hover{
  color: #88310f;
}

.sidebar:hover{
  color: #0b173f;
}

.btn-remove
{
  background-color: #404040;
  color: #f8f8f8;
}

